body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.thin-scroll::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

.thin-scroll::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #2a2544;
}

.thin-scroll::-webkit-scrollbar-track {
  background-color: inherit;
}

.thin-scroll::-webkit-scrollbar-corner {
  background-color: #131025;
}

*::-webkit-scrollbar {
  width: 4px;
  background-color: #131025;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #2a2544;
}

*::-webkit-scrollbar-track {
  background-color: #131025;
}

*::-webkit-scrollbar-track-piece {
  background-color: #131025;
}
